/*Reglas
Selectores
Declaraciones
Propiedades
Valores*/

/*selector de etiqueta header-sectio-article-nav*/
/* header 
{
    background: pink;  
    color: red; 
}
    /*El !important sirve para darle la unica autoridad a este tag.*/

/*selector descendente*/
/* body header div nav ol li a */
/* El selector de clase se declara a través de un punto . */
/* .link */
/* Los selectores de ID se declaran a través de un numeral*/
/* #portafolio */

/* gris oscuro = #1d252c */
/* gris claro = #626262 */
/* background gris = #1b2127 */
/* celeste = #026fff */
body
{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /*font-style: italic;*/
}

h1
{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    margin: 100px 150px 70px 30px
    /* text-transform: uppercase;
    text-decoration: underline; */
}

h1 strong
{
    color: #026fff;
}

.header
{
    background-color: #1b2127;
    color: white;
    margin-top: 0px; 
}

.flexbox
{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
}

.box 
{
    width: 20px;
    height: 20px;
    border: 1px solid red;
    flex-shrink: 0;
}

.header a
{
    color: white;
    text-decoration: none;
}


.hero
{
    height:300px;
    background-color: #1b2127;
    background-image:url('../imagenes/hero.jpg');
    background-size: 450px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
}

.portfolio
{
    background: #fafafa;
}
.project
{
   /* border-top-color:red;
    border-width: 15px;
    border-style: solid;
    color:blue; 
    border-top: 10px solid red;
    border-right: 10px solid green;
    border-left: 10px solid orange;
    border-bottom: 10px solid pink; */
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
     background-color: white; 
/*     border-top-left-radius: 50px; */
}

.project_details
{
    width: 500px;
}

.project_imageContainer
{
    width: 500px;
}